<div class="movies">
    <div class="movie-item">
        <div class="movieinfo">
            {{movie.mname}} // {{movie.myear}} <br /> <!-- Detailed information about movie -->
            {{movie.mcategory}}
        </div>
        <div class="divimage">
            <img src="{{movie.mimgURL}}" alt="{{movie.mimgURL}}" class="bigimage" />
        </div>
    </div>
</div>